<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="main.js"></script>
<link rel="stylesheet" type="text/css" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1>Android calculator</h1>
<table>
    <tr>
        <td id="r" colspan="2"></td>
        <td id="c">c</td>
        <td id="s">=</td>
    </tr>
    <tr>
        <td class="n" value="1">1</td>
        <td class="n" value="2">2</td>
        <td class="n" value="3">3</td>
        <td id="o1" class="o" value="+">+</td>
    </tr>
    <tr>
        <td class="n" value="4">4</td>
        <td class="n" value="5">5</td>
        <td class="n" value="6">6</td>
        <td id="o2" class="o" value="-">-</td>
    </tr>
    <tr>
        <td class="n" value="7">7</td>
        <td class="n" value="8">8</td>
        <td class="n" value="9">9</td>
        <td id="o3" class="o" value="*">*</td>
    </tr>
    <tr>
        <td id=""></td>
        <td class="n" value="0">0</td>
        <td id=""></td>
        <td id="o4" class="o" value="/">/</td>
    </tr>
</table>
<p>2013 Ondrej Sika (ondrejsika.com)</p>